﻿body {
  font-family: sans-serif;
  color: #333;
  text-align: center;
}
.container {
  width: 24vw;
  margin: 50px auto;
  border: 1px solid #333;
  border-radius: 10px;
  background: #eee;
}
a .a1{
  display: inline-block;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  width: 6vw;
  height: 5vw;
  line-height: 5vw;
  margin: 2%;
  font-size: 2vw;
  text-decoration: none;
  color: inherit;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}
a:active,
a:hover {
  box-shadow: inset 0 0 2px #000000;
}
.call {
  background: green;
  color: #fff;
  width: 20vw;
  margin: 6%;
}
input {
  background: transparent;
  width: 90%;
  border: 0;
  outline: none;
  font-size: 25px;
  margin: 25px 0;
  text-align: center;
}

