﻿body {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
}
/*TWILIO CSS FOR CHECK*/
div#controls p.instructions {
    text-align: left;
    margin-bottom: 1em;
    font-family: Helvetica-LightOblique, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 1.25em;
    color: #777776;
  }

  div#controls div#info #client-name {
    text-align: left;
    margin-bottom: 1em;
    font-family: "Helvetica Light", Helvetica, sans-serif;
    font-size: 1.25em;
    color: #777776;
  }
    a#button-hangup {
        display: none;
      }
  div#log {
    border: 1px solid #686865;
    width: 35%;
    height: 9.5em;
     margin-top: 2em;
    text-align: left;
    padding: 1.5em;
    float: right;
    overflow-y: scroll;
  }
       div#log p {
      color: #686865;
      font-family: 'Share Tech Mono', 'Courier New', Courier, fixed-width;
      font-size: 1.25em;
      line-height: 1.25em;
      margin-left: 1em;
      text-indent: -1.25em;
      width: 90%;
    }
/*END OF TWILIO CSS*/
.a1{
  display: inline-block;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  width: 6vw;
  height: 5vw;
  line-height: 5vw;
  margin: 2%;
  margin-left:5%;
  font-size: 2vw;
  text-decoration: none;
  color: inherit;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}
 .c1 {
  width: 24vw;
  margin: 10px 0 0 10px;
  border: 1px solid #333;
  border-radius: 10px;
  background: #eee;
}
.button-call {
	background:green;
	color:#fff;
	width:20vw;
	margin:6%;	
    display:block;
    text-align: center;
    padding:1vw;
    border-radius:5px;
}
.button-answer {
	background:green;
	color:#fff;
	width:20vw;
	margin:6%;	
    display:block;
    text-align: center;
    padding:1vw;
    border-radius:5px;
}
.button-hangup{
	background:red;
	color:#fff;
	width:20vw;
	margin:6%;	
    color:#fff;
	width:20vw;
	margin:6%;	
    display:none;
    text-align: center;
    padding:1vw;
    border-radius:5px;  
}

 input {
	background:transparent;
	width:90%;
	border:0;
	outline:none;
	font-size:25px;
	margin:25px 0;
	text-align:center;
}
  a:active,
  a:hover {
  box-shadow: inset 0 0 2px #000000;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 