﻿@model IEnumerable<Twilio.Rest.Api.V2010.Account.CallResource>
@{
    ViewBag.Title = "CallLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Call Log</h1></center>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th>Direction</th>
                <th>Duration(sec)</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var call in Model)
            {
                <tr>

                    <td>@call.From</td>
                    <td>@call.To</td>
                    <td>@call.DateCreated.Value.ToString("dd MMM yyyy & hh:mm")</td>
                    <td>@call.DateUpdated.Value.ToString("dd MMM yyyy & hh:mm")</td>
                    <td>@call.Direction</td>
                    <td>@call.Duration</td>
                    <td>@call.StartTime.Value.ToString("dd MMM yyyy & hh:mm")</td>
                    <td>@call.EndTime.Value.ToString("dd MMM yyyy & hh:mm")</td>
                    <td>@call.Status</td>
                    @*<td>@smsDetail.SmsDeliveryTime.ToString("dd MMM yyyy & hh:mm")</td>
                    <td>@smsDetail.Status.Name</td>*@

                </tr>
            }
        </tbody>
    </table>
</div>

