﻿@model TwilioInitilizationWithMvc.ViewModel.SmsFormViewModel
@{
    ViewBag.Title = "CallMaker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>CallMaker</h2>
<div id="controls">
  <div id="info">
    <p class="instructions">Twilio Client</p>
    <div id="client-name"></div>
  </div>
</div>*@
@using (Html.BeginForm("MakeCall", "Home", FormMethod.Post))
{
    @*<div class="form-group hidden">
        @Html.LabelFor(m => m.smsText, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.smsText, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.number, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.number, new { @class = "form-control" })
    </div>
    <input type="submit" value="Call" class="btn btn-success" />
    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-danger" })*@

    <div class="container c1">
        <input id="phone-number" type="text" placeholder="Enter a phone no" />
        <div class="row"><a class="a1" href="#">1</a><a class="a1" href="#">2</a><a class="a1" href="#">3</a></div>
        <div class="row"><a class="a1" href="#">4</a><a class="a1" href="#">5</a><a class="a1" href="#">6</a></div>
        <div class="row"><a class="a1" href="#">7</a><a class="a1" href="#">8</a><a class="a1" href="#">9</a></div>
        <div class="row"><a class="a1" href="#">+</a><a class="a1" href="#">0</a><a class="a1" href="#">c</a></div>
        <div class="row"><a id="button-call" class="button-call"  href="#">Dial<i class="fa fa-phone"></i></a></div>
        <div class="row"><a id="button-hangup" class="button-hangup" href="#">Hangup<i class="fa fa-phone"></i></a></div>
        <div class="row"><a id="button-answer" class="button-answer" href="#">Answer Calls in Queue <span id="waitingCalls">0</span><i class="fa fa-phone"></i></a></div>
        
    </div>
   <!-- <div id="log"></div>-->
    @*<div>
        <h1>Call's In Complain Queue</h1>
        <span id="waitingCalls">0</span>
    </div>*@
}
@section scripts {
@Scripts.Render("~/Scripts/quickstart.js")
}

