﻿@model  IEnumerable<TwilioInitilizationWithMvc.Models.SmsDetail>
@{
    ViewBag.Title = "Home Page";
}

    <center><h1>SMS Log</h1></center>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>SMS</th>
                    <th>Date&Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var smsDetail in Model)
                {
                    <tr>

                        <td>@smsDetail.ClientNumber</td>
                        <td>@smsDetail.text</td>
                        <td>@smsDetail.SmsDeliveryTime.ToString("dd MMM yyyy & hh:mm")</td>
                        <td>@smsDetail.Status.Name</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
