﻿@model TwilioInitilizationWithMvc.ViewModel.SmsFormViewModel
@{
    ViewBag.Title = "SmsSender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sms Sender</h2>
@using (Html.BeginForm("SendMessage","Home", FormMethod.Post))
{
    <div class="form-group">
       @Html.LabelFor(m => m.smsText, new { @class = "control-label" })
       @Html.TextBoxFor(m => m.smsText, new { @class = "form-control" })    
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.number, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.number, new { @class = "form-control" })
    </div>
    <input type="submit" value="Send SMS" class="btn btn-success"/>
    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-danger" })

}

